<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> THE HOME PAGE</h1>
    <P>Lorem ipsum :Lorem ipsum dolor sit 
        amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
    </P>
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Cum id, suscipit pariatur earum porro quod voluptas ratione
         ipsa ducimus! Asperiores nobis dignissimos aperiam quidem esse. Tempora reiciendis dicta dolor illo!</p>
</body>
</html>